[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dj-rest-auth = "*"
django-allauth = "*"
django = "*"
pyyaml = "*"
uritemplate = "*"
drf-yasg = "*"

[dev-packages]

[requires]
python_version = "3.11"
